  <div class="row mt-4">
      <div class="col-sm-2 "></div>
      <div class="col-md-8 bg-secondary p-3" style="border-radius: 10px; border: none;">
          {{!-- CALL THE TABLE FOR SCORES AFTER A COURSE IS COMPLETED --}}
          Username</br>
          Date/Time 12/12/2020 4:35 PM </br>
          Random Course Name <br>
          Number of Holes: 18 </br>
          Rating 4/5 Discs</br>
          Score: 3   
      </div>
      <div class="col-sm-2"></div>
  </div>