<div class="row mt-4 bg-transparent">
    <div class="col-sm-2"></div>
    <div class="col-md-8 p-3">
        <div class="card">
            <p><span>{{user.username}}</span></p>
            <p>Course: <span>{{course.course_name}}</span></p>
            <p>Score: <span>{{score}}</span></p>
        </div>
    </div>
</div>