{{!-- SAVED/Played COURSES --}}
<div class="row mt-4">
    <div class="col-sm-2"></div>
    <div class="col-md-8 bg-secondary p-3" style="border-radius: 10px; border: none;">
        {{!-- need to add score model --}}
            <p><span>{{user.username}}</span></p>
            <p>Course: <span>{{course.course_name}}</span></p>
            <p>Score: <span>{{score}}</span></p>
    </div>
</div>