<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24 chains</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="./images/disc-golf-basket.png" width=" 30" height="30" class="d-inline-block align-top" alt=""> 24
            chains</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- home and profile:link -->
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-brand" href="/profile">Profile</a>
                </li>
                {{#if loggedIn}}
                <li class="nav-item">
                    <a id="logout" class="nav-link" href="/login">Log Out</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <form class="form-inline bg-transparent">
            <input class="form-control mr-sm-2 bg-transparent" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<body class="text-white">

    <main>
        {{{ body }}}
    </main>

    <footer class="mt-5 text-center">
        &copy; 24 chains copyright2020
    </footer>
</body>

</html>
<script src="/javascript/logout.js"></script>