{{!-- THIS FILE WILL INCLUDE REVIEWS AND RATING --}}
{{> course-info course}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add review</button>
        <button type="button" class="rate-btn">rate</button>
    </div>
</form>
{{/if}}

{{> reviews course.reviews}}

{{#if loggedIn}}
{{!--
<script src="/javascript/review.js"></script> --}}
<script src="/javascript/rate.js"></script>
{{/if}}