{{!-- THIS FILE WILL INCLUDE FAVORITE COURSES--}}
<div class="row mt-4">
    <div class="col-sm-2"></div>
    <div class="col-md-8 bg-secondary p-3" style="border-radius: 10px; border: none;">
        {{#each course}}
        <a class="list-item" href="/course/{{id}}">
            <span>{{course.course_name}}</span>
        </a>
        {{/each}}
    </div>
</div>