
{{#each homeObject.reviews as |allreviews|}}
{{>reviews allreviews}}
{{/each}}

<ol class="">
    {{#each homeObject.courses as |course|}}
    <li>
        {{> course course }}
    </li>
    {{/each}}
</ol>