{{!-- not in card format, add
<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div> --}}
    {{!-- <div class="dropdown-menu"> --}}

        <form class="px-4 py-3" id="login-form">
            <div class="mb-3">
                <label for="exampleDropdownFormUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-input-login" placeholder="Username" required
                    autofocus>
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-input-login" placeholder="Password">
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/signup">Not a member? Sign up</a>

        {{!--
    </div> --}}

    <script src="/javascript/login.js"></script>