<div class="card text-center">
    {{> course course}}
</div>
{{#if loggedIn}}

{{!-- BTNs --}}

<div class="container">

    <div class="row justify-content-start">
        <div class="col align-self-start">
            <button class="btn btn-primary btn-lg" id="favorite-course">
                <span class="fa fa-plus"></span>
                Favorite Course
            </button>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-lg" id="saved-course">
                <span class="fa fa-plus"></span> Saved Course
            </button>
        </div>
    </div>
    <hr class="my-4">
    {{!-- POST RATING --}}
    <div class="row">
        <div class="form-group" id="rating-ability-wrapper">
            <label class="control-label" for="rating">
                {{!-- <span class="field-label-header">How would you rate this course?</span><br> --}}
                {{!-- <span class="field-label-info"></span> --}}
                <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
            </label>
            {{!-- <h2 class="bold rating-header" style="">
                <span class="selected-rating">0</span><small> / 5</small>
            </h2> --}}
            <button type="button" class="btn btn-outline-warning" data_attr="1" id="rating-star-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn btn-outline-warning" data_attr="2" id="rating-star-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn btn-outline-warning" data_attr="3" id="rating-star-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn btn-outline-warning" data_attr="4" id="rating-star-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
            <button type="button" class="btn btn-outline-warning" data_attr="5" id="rating-star-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-disc-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z" />
                </svg>
            </button>
        </div>
    </div>

    {{!-- REVIEW text --}}
    <div class="container">
        <div class="row justify-content-start">
            <div class="mb-3">
                <label for="this course is awesome!" class="form-label">Title</label>
                <input type="title" class="form-control" id="title" placeholder="title">
            </div>
        </div>
        <div class="row">
            <label for="review" class="form-label">Your review</label>
            <textarea class="form-control" id="review-textarea" rows="3"></textarea>
        </div>
    </div>

    <div>
        <button type="button" id="new-review" class="btn btn-primary">Submit Review</button>
    </div>
</div>
</div>

{{!-- LIST of reviews --}}

{{!-- <div class="card-header"> --}}
    {{review.review_title}}
</div>
<div class="card-body">
    <p class="card-text">{{review.review_content}}</p>

    {{/if}}
    {{!-- {{> reviews course.review}} --}}
    {{#if loggedIn}}
    <script src="/javascript/review.js"></script>
    {{/if}}