{{!-- SAVED/Played COURSES --}}
<div class="row mt-4 bg-transparent">
    <div class="col-sm-2"></div>
    <div class="col-md-8 p-3">
        <div class="card" style="padding:10px 20px;">
            {{#each course}}
            {{!-- need to add score model --}}
            <a class="" href="/profile/{{id}}">
                <span>{{course.course_name}}</span>
                <span>{{played.score}}</span>
            </a>
            {{/each}}
        </div>
    </div>
</div>