<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card-holder card-sign my-5 bg-transparent">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>

                    <form class="form-sign" id="signup-form">
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-white text-uppercase"><i
                                class="fa fa-google-plus"></i> Sign up with
                            Google</button>
                        <hr class="my-4">
                        <div class="form-label-group">
                            <input type="text" class="form-control" id="firstname-input-signup" placeholder="First Name"
                                required autofocus>
                            <label for="inputFirstName"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" class="form-control" id="lastname-input-signup" placeholder="Last name"
                                aria-label="default input example" required autofocus>
                            <label for="inputLastName"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="email" id="email-input-signup" class="form-control" placeholder="Email"
                                required autofocus>
                            <label for="inputEmail"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" class="form-control" id="username-input-signup" placeholder="Username">
                            <label for="exampleDropdownFormUsername" class="form-label"></label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="password-input-signup" class="form-control"
                                placeholder="Password" required>
                            <label for="inputPassword"></label>
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block text-white text-uppercase">Sign
                            in</button>
                        <div class="dropdown-divider"></div>
                        <a class="sign-up-log-in" href="/login">Already a member? Log in</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>