body {
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/images/IMG_4786.png") fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/IMG_4786.png") fixed;
  background-size: cover;

  .btn {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    background: linear-gradient(to right, #e8a41c, #e45c36b4);
    color: #fff;
    border: $border #eee;
  
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  
     &:hover {
      background: rgba(191, 80, 32, 0.803);
      box-shadow: 0 12px 14px 0 rgb(157, 96, 85), 0 15px 40px 0 orange;
    }

  }
  .card-sign .card-title {
    margin-bottom: 3rem;
    font-weight: 350;
    font-size: 1.7rem;
}
  .card-sign .card-body {
    padding: 2rem;
}
  .form-sign {
    width: 100%;
}
  .header-row {
    padding: 0px;
    overflow: hidden;
    max-height: 500px;
}
 .container-fluid {
  padding: 0px;
 }
 h2 {
  z-index: 1060;
  padding-left: 45px;
  text-shadow: 2px 2px rgb(41, 40, 40);
 }
 h5 {
  text-shadow: 2px 2px rgb(57, 54, 54);
 }
}