
@import 'variables', 'navbar', 'body';

/* round corners, etc on btns */
.form-sign .btn,
.card-user,
.row .btn,
.input-group-text,
.textarea,
.form-inline input,
.form-inline .btn,
.card
//.input-group
{
  font-size: 87%;
  border-radius: 6rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* round corners on input form */
.card,
.form-label-group input,
.textarea,
.form-inline input,
.form-inline .btn,
.form-control,
.input-group
 {
  height: auto;
  border-radius: 2rem;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}
input{
padding-left: 25px;
height: 20px;
}
.sign-up-log-in:visited {
color: white;
text-decoration: none;
}
.form-control::-webkit-input-placeholder {
color: rgba(255,255,255,0.9);
font-weight: 600;

}

