/* 
.username {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 100%;
    z-index: 10;
    background-color: none;
}
} */ 

<<<<<<< HEAD
body {
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
=======
body
{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/IMG_4786.png') fixed, url();
>>>>>>> b4270d66cabb4e773ad6d0bf8c857249390cf115
    background-size: cover;
    padding: 0;
    margin: 0;
}

.card-sign .card-title {
  margin-bottom: 3rem;
  font-weight: 350;
  font-size: 1.7rem;
}
.card-sign .card-body {
  padding: 3rem;
}
.form-sign {
  width: 100%;
}
/* round corners, etc on btns */
.form-sign .btn,
.row .btn,
.input-group-text,
.textarea {
  font-size: 80%;
  border-radius: 6rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1.2rem;
  transition: all 0.2s;
}

/* round corners on input form */
.form-label-group input,
.textarea {
    height: auto;
    border-radius: 2rem;
    background: transparent;
    background-color: rgba(255,255,255,0.2);
}
/* span{
    position: absolute;
    margin-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
  } */
input{
    padding-left: 25px;
    height: 20px;
<<<<<<< HEAD
}
/* 
.btn-google {
  color: white;
} */
=======
  }
>>>>>>> b4270d66cabb4e773ad6d0bf8c857249390cf115

.sign-up-log-in:visited {
  color: white;
  text-decoration: none;
}

